.form-group {
    padding: .3em
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    padding: .2em 0;
}

button {
    border: none;
    background-color: #007bff;
    color: white;
    padding: .5em 0;
    border-radius: 2em;
    cursor: pointer;
    margin: .2em 0;
}

button:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}

input {
    padding: .5em;
    border-radius: 2em;
    border: 1px solid #ccc;
    margin: .2em 0;
}