* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

main {
    padding: 20px;
}

header, footer {
    color: black;
    text-align: center;
}


body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}


.form-group {
    margin: .4em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

form {
    display: flex;
    flex-direction: column;
    padding: .1em 0;
}

.form-group label {
    width: 100%;
    display: block;
}

button,
input {
    width: 100%;
}

button {
    border: none;
    background-color: #007bff;
    color: white;
    padding: .5em 0;
    border-radius: 2em;
    cursor: pointer;
    margin: .1em 0;
}

button:hover {
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}

input {
    padding: .2em;
    border-radius: 2em;
    border: 1px solid #ccc;
    margin: .2em 0;
}